---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="404: Not found">
  <div
    class="flex min-h-[30vh] flex-col items-center justify-center text-center"
  >
    <h1 class="mb-4 text-4xl">Not Found</h1>
    <p class="mb-6 text-gray-600">You just hit a page that doesn't exist...</p>
    <a href="/" class="text-primary hover:text-primary-dark transition-colors">
      &larr; Go back home
    </a>
  </div>
</BaseLayout>
